@use "../abstracts" as *;

h1, h2, h3, h4, h5, h6 {
    color: map-get($map: $colors, $key: "main");
    text-transform: uppercase;
}

h1 {
    @include font("header", "xl");
}

h2 {
    @include font("header", "l");
}

h3 {
    @include font("header", "m");
}

h4 {
    @include font("header", "s");
}

h5 {
    @include font("header", "xs");
}

p {
    @include font("body", "m");
    color: map-get($map: $colors, $key: "secondary")
}

.button {
    @include font("button", "s");
    letter-spacing: 0.2275rem;
    text-transform: uppercase;
}